#sidebarMenu {
  width: 250px;
  transition: all 0.3s;
}

#sidebarMenu.minimized {
  width: 80px;
}

#sidebarMenu.minimized .nav-link span,
#sidebarMenu.minimized h4,
#sidebarMenu.minimized p,
#sidebarMenu.minimized .border-top {
  display: none;
}

#sidebarMenu.minimized .nav-link {
  text-align: center;
}

#mainContent {
  transition: margin-left 0.3s;
}

@media (min-width: 768px) {
  #mainContent {
    margin-left: 250px;
  }
  #sidebarMenu.minimized + #mainContent {
    margin-left: 80px;
  }
}
