* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  overflow-x: hidden;
}
/* main {
  display: flex;
  justify-content: space-between;
}
nav {
  position: fixed;
  color: white;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.897);
  height: 600px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.sair {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  background-color: rgba(47, 47, 250, 0.925);
}
.menu {
  height: 400px;
  display: flex;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
ul li {
  list-style: none;
}
a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 18px;
}
.titulo-consulta {
  width: 400px;
  font-size: 30px;
  text-align: center;
}

.topo-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  width: 400px;
}
.submit {
  border: none;
  font-size: 20px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background-color: rgba(47, 47, 250, 0.925);
  border-radius: 5px;
  color: white;
}
.text-area label {
  font-weight: 700;
  width: 400px;
  text-align: center;
}
input {
  font-size: 20px;
  text-align: center;
  width: 400px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
} */

#sidebarMenu {
  width: 250px;
  transition: all 0.3s;
}

#sidebarMenu.minimized {
  width: 80px;
}

#sidebarMenu.minimized .nav-link span,
#sidebarMenu.minimized h4,
#sidebarMenu.minimized p,
#sidebarMenu.minimized .border-top {
  display: none;
}

#sidebarMenu.minimized .nav-link {
  text-align: center;
}

#mainContent {
  transition: margin-left 0.3s;
}

@media (min-width: 768px) {
  #mainContent {
    margin-left: 250px;
  }
  #sidebarMenu.minimized + #mainContent {
    margin-left: 80px;
  }
}
